.sendButton:hover{
    box-shadow: rgb(0 0 0 / 44%) 0px 6px 8px 4px,
}

.controlsWrapper {
    display: flex;
    flex: 1;
    margin: auto;
}

.inputWrapper {
    display: flex;
    box-sizing: border-box;
    flex: 1;
    padding: 1px 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}
