html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}
/* width */
*::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

/* Track */
*::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #00000020;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
