
.fillHeight {
    flex: 1;
    height: var(--app-height)
}

.contentWrapper {
    height: var(--app-height)
}

.asideWrapper {
    transition: flex-basis .2s;
    max-width: 300px;
}

.hiddenCheckbox:checked + .asideWrapper {
    overflow: hidden;
}

.hiddenCheckbox {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: -99999999px;
}

.backButton {
    display: none;
}

@media (max-width: 768px) {

    .asideWrapper {
        max-width: 100%;
    }

    .backButton {
        display: flex;
    }

    .hiddenCheckbox:checked  + .asideWrapper {
        /*display: none;*/
        flex-basis: 0;
        overflow: hidden;
    }
}
