.container {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.mainContainer{
    background-image: url("../../assets/img/bg.jpg");
    background-size: cover;
}
